P{

 
    font-size: X-LARGE ;
}
.imagem{
font-size: x-large;
    height: 375px;
     
        width: 375x;
    
}

.bibliografia{
height: 30%;
 background: gray;
 color: black;
  font-size:400%;

}
.Diasantesdemandrake{background: gray;
    height: 30%;
     color: black;
     font-size: 400%;
  
}
#Kyan{
    
    background: black;
    color: white;
    font-size: 400%;
 
}


 

.parte1 {
    background: black;
  color: white;
  
}
.parte2{background: black;
 color: white;
}

.flex-container{
    display: flex;
}

.linha-filme {
    flex-direction: row-reverse;
    justify-content: space-around;
}

.parte1 {
    width: 45%;
}

.flex-container{
    display: flex
    ;}
.linha{

flex-direction: row-reverse;
justify-content: space-around;

}
.parte2{

    width: 45%;
}