P{


    font-size: X-LARGE ;
}
.imagem{
font-size: x-large;
    height: 400px;
    
        width: 400px;
    
}

.bibliografia{
height: 70%;
 background: black;
 color: white;
  font-size: x-large;

}
.Diasantesdemandrake{background: black;
    height: 70%;
     color: white;
     font-size: x-large;
}
#Kyan{
    text-align: center;
    background: black;
    color: white;
    font-size: 500%;
}


 .tem{      

height: 50px;


 }