P{


    font-size: X-LARGE ;
}

 .kYAN{
     color: brown;
    font-size: x-large;
    text-shadow: 3CAP;

 }
#DRILL{

  text-align: center;

}
#Kyan{
    text-align: center;
}
#Diasantesdemandrake{text-align: center;}